#app{
    width: 100%
}

.header>div{
    width: 33.3333333%;
    height: 3.125rem;
    float: left;
    line-height: 3.125rem;
}
.header{
    height: 3.125rem;
}
.header div>a{
    cursor: pointer;
}
.header div:nth-of-type(2){
    text-align: center
}
.header div:nth-of-type(2)>a{
    font-size: 1.25rem;
    color: #00b4ff
}
.header div:nth-of-type(1)>a{
    margin-left: .625rem;
    color: #333;
    height: 3.125rem;
}
.header div:nth-of-type(3)>a{
   float: right;
   margin-right: .625rem;
   color :#333
}
.header div:nth-of-type(1) i{
    font-size: 1rem
}
.header div:nth-of-type(3) i{
    font-size: 1rem
}
.list{
    width: 100%;
    /* background: #00b4ff; */
    height: 2.5rem
}
.list>ul{
    padding: 0 .625rem;
    display: flex;
    justify-content: space-between;
    line-height: 2.5rem;
}
.list>ul>a{
    font-size: .875rem;
    color: #333
}



.banner .banners{
    width: 100%;
    height: 10.5rem;
}



.d2 .fuwu{
    height: 1.875rem;
    background: #f7f7f7;
    /* width: 100%; */
    padding: .625rem 1.25rem
}
.d2 .fuwu>div{
    float: left;
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center
}
.d2 .fuwu>div>img{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    
}
.d2 .fuwu>div>span{
    font-size: 0.5rem;
    color: #999999
}


.d2 .product{
    display: flex;
    justify-content: space-around;
    border-bottom: .5rem solid #f4f4f4
}

.d2 .product img{
    width: 3.125rem
}
.d2 .product a span{
    font-size: .5625rem;
    color: #000
}

.d2 .logo1{
    height: 12.5rem;
    width: 50%;
    float: left;
}
.d2 .logo2{
    height: 6.25rem;
    width: 50%;
   
}
.d2 .logo3{
    height: 6.25rem;
    width: 50%;
}
.d2 .logo>div{
    /* float: left; */
    width: 50%
    display: inline-block;
}
.d2 .logo>div>img{
    display: inline-block
}